<div class="container">
    <div class="alert alert-{{alert.level}}" role="alert" {{#unless alert}} style="display: none;" {{/unless}}>
        <h4 class="alert-heading">{{alert.title}}</h4>
        <p>{{alert.message}}</p>
    </div>
</div>